@charset "UTF-8";
@import url("https://rsms.me/inter/inter.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  background-color: #F5F5F5;
  color: #000000;
  width: 95%;
  height: 100%;
  padding: 1rem auto; }

h1 {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 72px; }

h2 {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 42px; }

h3 {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

h4 {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

h5 {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

h6 {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

a {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 8.19px;
  color: #333333;
  text-decoration: none; }

p {
  font-size: 18px;
  font-family: "Inter UI", "Roboto", sans-serif;
  padding: 0.5rem 0; }

button {
  cursor: pointer; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #AEE1F7; }

header {
  position: relative;
  display: flex;
  padding: 10px;
  justify-items: center;
  float: left;
  background: #FFFFFF;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  width: 100vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden; }
  header div.logo {
    left: 0%;
    margin: 1rem 0;
    margin-left: 2.5%; }
  header .headerCentered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px; }
    header .headerCentered ul {
      text-align: center;
      justify-self: center;
      justify-content: center; }
      header .headerCentered ul li {
        display: inline;
        list-style: none;
        margin-right: 1rem; }
  header .login {
    font-size: 18px;
    float: right;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    margin-right: 2.5%; }

.headerImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/header_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .headerImage .btn {
    border: 4PX solid #BC8CCD;
    display: block;
    padding: 34px 68px;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-right: 8em;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #AEE1F7;
    text-decoration: none;
    float: left;
    background: transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px; }
  .headerImage h1 {
    background-image: linear-gradient(to bottom, #BC8CCD 0%, #72A5BA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 40%;
    margin-bottom: 0;
    text-align: left;
    float: right; }

main {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin: 1.5rem auto;
  justify-content: center;
  align-items: center; }
  main button.btn {
    border: 4PX solid #72A5BA;
    display: block;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #AEE1F7;
    text-decoration: none;
    background: transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin: 0; }
  main .threeCards {
    display: flex;
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
    justify-content: center;
    justify-self: center; }
    main .threeCards .card {
      display: block;
      background-color: #ffffff;
      margin: 1.5rem;
      width: 360px;
      height: 400px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
      border-radius: 50px;
      color: #333333;
      text-align: center; }
      main .threeCards .card h3 {
        margin: 20px 0 0 0;
        text-align: center; }
      main .threeCards .card hr {
        width: 80%;
        margin: 10px auto 0 auto;
        text-align: left;
        border: 2px solid #E5E5E5; }
      main .threeCards .card p {
        margin: 0 10px 0 38px;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        color: #6D6D6D; }
      main .threeCards .card button {
        position: relative;
        margin: 10px auto;
        padding: 14px 28px; }
  main hr {
    margin: 60px auto 0 auto;
    border: 2px solid #E5E5E5; }
  main h2 {
    margin: 65px auto 0 auto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: #333333; }
  main .socials {
    display: flex;
    text-align: center;
    margin: 65px auto 0 auto;
    justify-content: center; }
    main .socials .socialMedia {
      margin: 1.5rem; }
    main .socials .roundedBorders {
      margin: 14px auto 0 auto;
      padding: 7px 5px;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 30px; }
  main .cards {
    display: flex;
    width: 95%;
    margin: 1.5rem 5%;
    text-align: center;
    justify-content: center;
    justify-self: center; }
    main .cards .cardWithImages {
      background-color: #ffffff;
      margin: 1rem;
      width: 299px;
      height: 400px;
      background: #FFFFFF;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
      border-radius: 50px;
      color: #333333;
      text-align: center; }
      main .cards .cardWithImages img {
        margin: 3rem 0 0 0; }
      main .cards .cardWithImages h3 {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        color: #333333; }
      main .cards .cardWithImages p.price {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 30px;
        color: #333333;
        padding: 0 auto; }
      main .cards .cardWithImages p.priceExplanation {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        color: #6D6D6D;
        margin: 0 auto;
        padding: 0 auto; }
      main .cards .cardWithImages p {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        text-align: center;
        color: #6D6D6D; }
      main .cards .cardWithImages button {
        position: relative;
        margin: 10px auto;
        padding: 14px 28px; }

footer {
  background: -webkit-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: -o-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: -ms-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: -moz-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: linear-gradient(to top, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  width: 100vw;
  height: 70vh;
  margin: 60px 0 0 0; }
  footer .footerContainer {
    width: 80%;
    margin: 1.5rem auto;
    text-align: center;
    justify-content: center;
    color: #FFFFFF; }
    footer .footerContainer .footerTop {
      display: flex; }
      footer .footerContainer .footerTop a {
        color: #FFFFFF; }
      footer .footerContainer .footerTop img {
        margin-top: 2.5rem;
        margin-right: 1rem; }
      footer .footerContainer .footerTop .text {
        margin-top: 2.5rem;
        text-align: left; }
    footer .footerContainer .supportOptions {
      width: 80%;
      margin-top: 2rem;
      margin-right: 2.5rem;
      float: right;
      display: flex;
      text-align: center;
      color: #FFFFFF; }
      footer .footerContainer .supportOptions .supportOptionsItem {
        width: 10rem;
        text-align: center;
        padding: 20px;
        margin-right: 3.5rem;
        margin-left: 3.5rem; }
        footer .footerContainer .supportOptions .supportOptionsItem h5 {
          margin: 1rem 0 0 0; }
      footer .footerContainer .supportOptions hr {
        border: 1px solid #FFFFFF; }

body#Услуги header a {
  color: #2C5E8E; }

body#Услуги .headerImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/Услуги_header_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center; }
  body#Услуги .headerImage .headerImageInner {
    display: block;
    float: right;
    justify-content: center;
    align-items: center;
    text-align: center; }
  body#Услуги .headerImage h1 {
    margin: 0;
    margin-top: 3em;
    background-image: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: #333333;
    color: #333333;
    text-align: left; }
  body#Услуги .headerImage button.btn {
    border: none;
    display: block;
    padding: 34px 68px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-decoration: none;
    background: #2C5E8E;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin: 0;
    margin-top: 3.2em; }

body#Услуги footer {
  background: none;
  background: none;
  background: none;
  background: none;
  background: none;
  width: 100vw;
  background-color: #2C5E8E;
  width: 100vw;
  height: 75vh;
  margin: 60px 0 0 0; }

body#Услуги main button.btn {
  border: none;
  display: block;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background: #2C5E8E;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin: 0; }

body#Услуги main .threeCards .card button {
  position: relative;
  margin: 10px auto;
  padding: 14px 28px; }

body#Услуги .cards .cardWithImages button {
  position: relative;
  margin: 10px auto;
  padding: 14px 28px; }
