@charset "UTF-8";
@import url("https://rsms.me/inter/inter.css");
@import url("typeface-inter");
@import url("Inter-UI");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  background-color: #F5F5F5;
  color: #000000;
  width: 100%;
  height: 100%;
  padding: 1rem auto;
  overflow-x: hidden; }

h1 {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 72px; }

h2 {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 42px; }

h3 {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

h4 {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

h5 {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

h6 {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

a {
  font-family: "Inter UI", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 8.19px;
  color: #333333;
  text-decoration: none; }

p {
  font-size: 18px;
  font-family: "Inter UI", "Roboto", sans-serif;
  padding: 0.5rem 0; }

button {
  cursor: pointer; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  border-radius: 50px;
  width: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #AEE1F7; }

header {
  position: relative;
  display: flex;
  padding: 10px;
  justify-items: center;
  float: left;
  background: #FFFFFF;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  width: 100vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden; }
  header div.logo {
    left: 0%;
    margin: 1rem 0;
    margin-left: 2.5%; }
  header .headerCentered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px; }
    header .headerCentered ul {
      text-align: center;
      justify-self: center;
      justify-content: center; }
      header .headerCentered ul li {
        display: inline;
        list-style: none;
        margin-right: 1rem; }
  header .login {
    font-size: 18px;
    float: right;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    margin-right: 2.5%; }

.headerImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/header_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .headerImage h1 {
    background-image: linear-gradient(to bottom, #BC8CCD 0%, #72A5BA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 40%;
    margin-bottom: 0;
    text-align: left;
    float: right;
    margin-left: 26rem; }
  .headerImage a#svgButton {
    position: relative;
    padding: 35px 68px;
    z-index: 0;
    float: left;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #AEE1F7;
    text-decoration: none;
    margin-top: 50%;
    margin-bottom: 50%;
    margin-right: -9rem; }
    .headerImage a#svgButton .icon {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      z-index: -1; }
      .headerImage a#svgButton .icon path {
        transition: opacity 0.4s ease; }
        .headerImage a#svgButton .icon path:first-of-type {
          fill: transparent;
          stroke: url(#linearGradient-1);
          stroke-width: 5;
          opacity: 1; }
        .headerImage a#svgButton .icon path.icon--plain {
          opacity: 0;
          stroke: none;
          stroke-width: 0; }
    .headerImage a#svgButton:hover {
      transition: all 500ms ease-in-out; }
      .headerImage a#svgButton:hover path:first-of-type {
        opacity: 0; }
      .headerImage a#svgButton:hover path.icon--plain {
        opacity: 1; }

main {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  margin: 1.5rem auto;
  justify-content: center;
  align-items: center; }
  main .threeCards {
    margin: 1.5rem auto auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    justify-items: center; }
    main .threeCards .card {
      display: block;
      background-color: #ffffff;
      min-width: 360px;
      max-width: 360px;
      height: 400px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
      border-radius: 50px;
      color: #333333;
      text-align: center; }
      main .threeCards .card:nth-child(1) .cardParag {
        padding-bottom: 4rem; }
      main .threeCards .card:nth-child(2) .cardParag {
        padding-bottom: 0.5rem; }
      main .threeCards .card:nth-child(3) .cardParag {
        padding-bottom: 7rem; }
      main .threeCards .card h3 {
        margin: 20px 0 0 0;
        text-align: center; }
      main .threeCards .card hr {
        width: 80%;
        margin: 10px auto 0 auto;
        text-align: left;
        border: 2px solid #E5E5E5; }
      main .threeCards .card p {
        margin: 0 10px 0 38px;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        color: #6D6D6D; }
      main .threeCards .card a.cardSvgButton {
        display: block;
        color: #557C8C;
        font-size: 15px;
        position: relative;
        margin: 10px auto;
        padding: 14px 28px;
        border-radius: 28px;
        -webkit-border-radius: 28px;
        -moz-border-radius: 28px;
        -ms-border-radius: 28px;
        -o-border-radius: 28px;
        position: relative;
        z-index: 0;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        text-align: center;
        text-decoration: none; }
        main .threeCards .card a.cardSvgButton .icon {
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
          z-index: -1; }
          main .threeCards .card a.cardSvgButton .icon path {
            transition: opacity 0.4s ease; }
            main .threeCards .card a.cardSvgButton .icon path:first-of-type {
              fill: transparent;
              stroke: url(#linearGradient-1);
              stroke-width: 3;
              opacity: 1; }
            main .threeCards .card a.cardSvgButton .icon path.icon--plain {
              opacity: 0;
              stroke: none;
              stroke-width: 0; }
        main .threeCards .card a.cardSvgButton:hover {
          transition: all 500ms ease-in-out; }
          main .threeCards .card a.cardSvgButton:hover path:first-of-type {
            opacity: 0; }
          main .threeCards .card a.cardSvgButton:hover path.icon--plain {
            opacity: 1; }
  main hr {
    margin: 60px auto 0 auto;
    border: 2px solid #E5E5E5; }
  main h2 {
    margin: 65px auto 0 auto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: #333333; }
  main .socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    text-align: center;
    margin: 65px auto 0 auto;
    justify-content: center; }
    main .socials .socialMedia {
      margin: 1.5rem; }
    main .socials .roundedBorders {
      font-size: 14px;
      margin: 14px auto 0 auto;
      padding: 7px 9px;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 30px; }
  main .cards {
    margin: 1.5rem auto 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 55px;
    justify-items: center; }
    main .cards .cardWithImages {
      background-color: #ffffff;
      margin: 1rem;
      min-width: 299px;
      max-width: 299px;
      height: 400px;
      background: #FFFFFF;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
      border-radius: 50px;
      color: #333333;
      text-align: center; }
      main .cards .cardWithImages img {
        margin: 3rem 0 0 0; }
      main .cards .cardWithImages h3 {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        color: #333333; }
      main .cards .cardWithImages p.price {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 30px;
        color: #333333;
        padding: 0 auto; }
      main .cards .cardWithImages p.priceExplanation {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        color: #6D6D6D;
        margin: 0 auto;
        padding: 0 auto; }
      main .cards .cardWithImages p {
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 12px;
        text-align: center;
        color: #6D6D6D; }
      main .cards .cardWithImages a.cardSvgButton {
        display: block;
        color: #557C8C;
        font-size: 15px;
        position: relative;
        margin: 10px auto;
        padding: 14px 37px;
        border-radius: 37px;
        -webkit-border-radius: 37px;
        -moz-border-radius: 37px;
        -ms-border-radius: 37px;
        -o-border-radius: 37px;
        position: relative;
        z-index: 0;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        text-align: center;
        text-decoration: none; }
        main .cards .cardWithImages a.cardSvgButton .icon {
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
          z-index: -1; }
          main .cards .cardWithImages a.cardSvgButton .icon path {
            transition: opacity 0.4s ease; }
            main .cards .cardWithImages a.cardSvgButton .icon path:first-of-type {
              fill: transparent;
              stroke: url(#linearGradient-1);
              stroke-width: 3;
              opacity: 1; }
            main .cards .cardWithImages a.cardSvgButton .icon path.icon--plain {
              opacity: 0;
              stroke: none;
              stroke-width: 0; }
        main .cards .cardWithImages a.cardSvgButton:hover {
          transition: all 500ms ease-in-out; }
          main .cards .cardWithImages a.cardSvgButton:hover path:first-of-type {
            opacity: 0; }
          main .cards .cardWithImages a.cardSvgButton:hover path.icon--plain {
            opacity: 1; }

footer {
  background: -webkit-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: -o-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: -ms-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: -moz-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: linear-gradient(to top, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  width: 100vw;
  margin: 60px 0 0 0;
  height: auto;
  overflow: hidden;
  position: relative;
  bottom: 0px; }
  footer .footerContainer {
    width: 100%;
    margin: 1.5rem auto;
    text-align: center;
    justify-content: center;
    color: #FFFFFF; }
    footer .footerContainer .footerTop {
      display: flex; }
      footer .footerContainer .footerTop a {
        color: #FFFFFF; }
      footer .footerContainer .footerTop img {
        margin-top: 2.5rem;
        margin-right: 1rem; }
      footer .footerContainer .footerTop .text {
        margin-top: 2.5rem;
        text-align: left; }
    footer .footerContainer .supportOptions {
      width: 80%;
      margin: 2rem auto auto 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      grid-gap: 20px;
      justify-items: center;
      justify-content: center;
      color: #FFFFFF;
      margin-left: 0%; }
      footer .footerContainer .supportOptions .supportOptionsItem {
        width: 10rem;
        text-align: center;
        padding: 20px;
        margin-right: 3.5rem;
        margin-left: 3.5rem; }
        footer .footerContainer .supportOptions .supportOptionsItem h5 {
          margin: 1rem 0 0 0; }
      footer .footerContainer .supportOptions hr {
        height: 75%;
        border: 1px solid #FFFFFF; }

body#Услуги header a {
  color: #2C5E8E; }

body#Услуги .headerImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../img/Услуги_header_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center; }
  body#Услуги .headerImage .headerImageInner {
    display: block;
    float: right;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 auto; }
  body#Услуги .headerImage h1 {
    margin: 0;
    margin-top: 6rem;
    margin-right: 10rem;
    margin-bottom: 5rem;
    background-image: none;
    -webkit-background-clip: none;
    -webkit-text-fill-color: #333333;
    color: #333333;
    text-align: left;
    font-size: 48px; }
    body#Услуги .headerImage h1 b {
      font-size: 58px; }
  body#Услуги .headerImage button.btn {
    border: none;
    display: block;
    padding: 34px 68px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-decoration: none;
    background: #2C5E8E;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin: 0;
    margin-top: 6rem;
    justify-self: center; }
    body#Услуги .headerImage button.btn:hover {
      opacity: .95; }

body#Услуги main button.btn {
  border: none;
  display: block;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background: #2C5E8E;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin: 0; }

body#Услуги main section.one h2 {
  font-size: 47px; }

body#Услуги main section.one .threeCards .card button {
  position: relative;
  margin: 10px auto;
  padding: 14px 28px; }

body#Услуги section.two h2 {
  font-size: 41px; }

body#Услуги section.three h2 {
  font-size: 41px; }

body#Услуги section.three .cards .cardWithImages button {
  position: relative;
  margin: 10px auto;
  padding: 14px 28px; }

body#Услуги footer {
  background: none;
  background: none;
  background: none;
  background: none;
  background: none;
  background-color: #2C5E8E;
  width: 100vw;
  height: auto;
  overflow: hidden;
  position: relative;
  bottom: 0px;
  margin: 60px 0 0 0; }

@media screen and (min-width: 1171px) {
  main {
    max-width: 1300px; }
  .footerContainer {
    max-width: 1100px; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .headerImage {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .headerImage h1 {
      padding-top: 16rem;
      margin: 0 0 2.5rem 0;
      text-align: center;
      float: none;
      font-size: 58px; }
    .headerImage a#svgButton {
      position: relative;
      padding: 23px 35px;
      z-index: 0;
      float: none;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 26px;
      text-align: center;
      letter-spacing: 0.1em;
      color: #AEE1F7;
      text-decoration: none;
      margin: 0 0 0 0;
      border-radius: 35px; }
      .headerImage a#svgButton .icon {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1; }
        .headerImage a#svgButton .icon path {
          transition: opacity 0.4s ease; }
          .headerImage a#svgButton .icon path:first-of-type {
            fill: transparent;
            stroke: url(#linearGradient-1);
            stroke-width: 3;
            opacity: 1; }
          .headerImage a#svgButton .icon path.icon--plain {
            opacity: 0;
            stroke: none;
            stroke-width: 0; }
      .headerImage a#svgButton:hover path:first-of-type {
        opacity: 0; }
      .headerImage a#svgButton:hover path.icon--plain {
        opacity: 1; }
  .footerContainer .footerTop .text {
    text-align: center; }
  body#Услуги .headerImage {
    background-image: linear-gradient(rgba(44, 94, 142, 0.01), rgba(44, 94, 142, 0.3)), url("../img/Услуги_header_background.png");
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; }
    body#Услуги .headerImage .headerImageInner {
      display: block;
      float: right;
      justify-content: center;
      align-items: center;
      text-align: right;
      padding: 0 auto; }
    body#Услуги .headerImage h1 {
      margin: 0 18px 0 0;
      padding: 5rem 0 0 0;
      background-image: none;
      -webkit-background-clip: none;
      -webkit-text-fill-color: #000000;
      color: #000000;
      text-align: right; }
      body#Услуги .headerImage h1 b {
        font-size: 68px; }
    body#Услуги .headerImage button.btn {
      float: right;
      border: none;
      display: block;
      padding: 24px 34px;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      text-align: center;
      letter-spacing: 0.1em;
      color: #ffffff;
      text-decoration: none;
      background: #2C5E8E;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      margin: 0 18px 0 0;
      margin-top: .5rem;
      justify-self: center; }
  body#Услуги main section.one h2 {
    font-size: 28px; }
  body#Услуги section.two h2 {
    font-size: 28px; }
  body#Услуги section.three h2 {
    font-size: 28px; } }

@media screen and (max-width: 768px) {
  .menu-btn {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    cursor: pointer;
    transition: all 500ms ease-in-out; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: black;
      transition: all 500ms ease-in-out; }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    z-index: 2;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    visibility: hidden; }
    .menu.show {
      visibility: visible; }
    .menu-nav {
      display: block;
      text-align: center;
      align-items: center;
      justify-content: center;
      float: none;
      width: 100%;
      height: 100vh;
      overflow-x: hidden; }
    .menu-nav {
      margin: 0;
      padding: 0;
      background: #373737;
      list-style: none;
      transform: translate3d(0, -100%, 0);
      transition: all 500ms ease-in-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0); }
    .menu .nav-item {
      display: block;
      transform: translate3d(600px, 0, 0);
      transition: all 500ms ease-in-out; }
      .menu .nav-item.show {
        transform: translate3d(0, 0, 0); }
      .menu .nav-item.current > a {
        color: #333; }
    .menu .nav-link {
      display: inline-block;
      position: relative;
      font-size: 16px;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300;
      color: white;
      text-decoration: none;
      transition: all 500ms ease-in-out; }
      .menu .nav-link:hover {
        color: lightgray;
        transform: scale(1.1); }
  .headerImage {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .headerImage h1 {
      padding-top: 18rem;
      margin: 0 0 2rem 0;
      text-align: center;
      float: none;
      font-size: 58px; }
    .headerImage a#svgButton {
      position: relative;
      padding: 23px 35px;
      z-index: 0;
      float: none;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 26px;
      text-align: center;
      letter-spacing: 0.1em;
      color: #AEE1F7;
      text-decoration: none;
      margin: 0 0 0 0;
      border-radius: 35px; }
      .headerImage a#svgButton .icon {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1; }
        .headerImage a#svgButton .icon path {
          transition: opacity 0.4s ease; }
          .headerImage a#svgButton .icon path:first-of-type {
            fill: transparent;
            stroke: url(#linearGradient-1);
            stroke-width: 3;
            opacity: 1; }
          .headerImage a#svgButton .icon path.icon--plain {
            opacity: 0;
            stroke: none;
            stroke-width: 0; }
      .headerImage a#svgButton:hover path:first-of-type {
        opacity: 0; }
      .headerImage a#svgButton:hover path.icon--plain {
        opacity: 1; }
  main section.one .card {
    min-width: 300px; }
    main section.one .card p {
      margin: 0 10px 0 28px; }
  main section.one h2 {
    font-size: 28px; }
  main section.two h2 {
    font-size: 28px; }
  main .socials {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 15px;
    justify-items: center;
    text-align: center;
    margin: 65px auto 0 auto;
    justify-content: center; }
    main .socials .socialMedia {
      margin: 1rem; }
    main .socials .roundedBorders {
      font-size: 14px;
      margin: 14px auto 0 auto;
      padding: 7px 9px;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 30px; }
  main section.three h2 {
    font-size: 28px; }
  footer {
    display: block; }
    footer .footerContainer {
      width: 80%;
      margin: 1.5rem auto;
      text-align: center;
      justify-content: center;
      color: #FFFFFF; }
      footer .footerContainer .footerTop {
        text-align: center;
        display: block; }
        footer .footerContainer .footerTop a {
          color: #FFFFFF; }
        footer .footerContainer .footerTop img {
          margin-top: 2.5rem;
          margin-right: 1rem; }
        footer .footerContainer .footerTop .text {
          margin-top: 2.5rem;
          text-align: center; }
      footer .footerContainer .supportOptions {
        display: grid;
        margin: 1rem auto;
        padding: 0 auto;
        text-align: center;
        justify-items: center;
        justify-content: center; }
        footer .footerContainer .supportOptions hr {
          height: 90%; }
  body#Услуги .headerImage {
    background-image: linear-gradient(rgba(44, 94, 142, 0.01), rgba(44, 94, 142, 0.3)), url("../img/Услуги_header_background.png");
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; }
    body#Услуги .headerImage .headerImageInner {
      display: block;
      float: right;
      justify-content: center;
      align-items: center;
      text-align: right;
      padding: 0 auto; }
    body#Услуги .headerImage h1 {
      margin: 0 14px 0 0;
      padding: 5rem 0 0 0;
      background-image: none;
      -webkit-background-clip: none;
      -webkit-text-fill-color: #000000;
      color: #000000;
      text-align: right; }
      body#Услуги .headerImage h1 b {
        font-size: 42px; }
    body#Услуги .headerImage button.btn {
      float: right;
      border: none;
      display: block;
      padding: 24px 34px;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      text-align: center;
      letter-spacing: 0.1em;
      color: #ffffff;
      text-decoration: none;
      background: #2C5E8E;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      margin: 0 18px 0 0;
      margin-top: .5rem;
      justify-self: center; }
  body#Услуги main section.one h2 {
    font-size: 28px; }
  body#Услуги section.two h2 {
    font-size: 28px; }
  body#Услуги section.three h2 {
    font-size: 28px; } }

@media screen and (max-width: 500px) {
  .menu-btn {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    cursor: pointer;
    transition: all 500ms ease-in-out; }
    .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: black;
      transition: all 500ms ease-in-out; }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }
  .menu {
    z-index: 2;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    visibility: hidden; }
    .menu.show {
      visibility: visible; }
    .menu-nav {
      display: block;
      text-align: center;
      align-items: center;
      justify-content: center;
      float: none;
      width: 100%;
      height: 100vh;
      overflow-x: hidden; }
    .menu-nav {
      margin: 0;
      padding: 0;
      background: #373737;
      list-style: none;
      transform: translate3d(0, -100%, 0);
      transition: all 500ms ease-in-out; }
      .menu-nav.show {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0); }
    .menu .nav-item {
      display: block;
      transform: translate3d(600px, 0, 0);
      transition: all 500ms ease-in-out; }
      .menu .nav-item.show {
        transform: translate3d(0, 0, 0); }
      .menu .nav-item.current > a {
        color: #333; }
    .menu .nav-link {
      display: inline-block;
      position: relative;
      font-size: 16px;
      text-transform: uppercase;
      padding: 1rem 0;
      font-weight: 300;
      color: white;
      text-decoration: none;
      transition: all 500ms ease-in-out; }
      .menu .nav-link:hover {
        color: lightgray;
        transform: scale(1.1); }
  .headerImage {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .headerImage h1 {
      padding-top: 14rem;
      margin: 0 0 2rem 0;
      text-align: center;
      float: none;
      font-size: 48px; }
    .headerImage a#svgButton {
      position: relative;
      padding: 23px 35px;
      z-index: 0;
      float: none;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 26px;
      text-align: center;
      letter-spacing: 0.1em;
      color: #AEE1F7;
      text-decoration: none;
      margin: 0 0 0 0;
      border-radius: 35px; }
      .headerImage a#svgButton .icon {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1; }
        .headerImage a#svgButton .icon path {
          transition: opacity 0.4s ease; }
          .headerImage a#svgButton .icon path:first-of-type {
            fill: transparent;
            stroke: url(#linearGradient-1);
            stroke-width: 3;
            opacity: 1; }
          .headerImage a#svgButton .icon path.icon--plain {
            opacity: 0;
            stroke: none;
            stroke-width: 0; }
      .headerImage a#svgButton:hover path:first-of-type {
        opacity: 0; }
      .headerImage a#svgButton:hover path.icon--plain {
        opacity: 1; }
  main section.one .card {
    min-width: 340px; }
    main section.one .card p {
      margin: 0 10px 0 28px; }
  main section.one h2 {
    font-size: 28px; }
  section.two h2 {
    font-size: 28px; }
  .socials {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 15px;
    justify-items: center;
    text-align: center;
    margin: 65px auto 0 auto;
    justify-content: center; }
    .socials .socialMedia {
      margin: 1rem; }
    .socials .roundedBorders {
      font-size: 14px;
      margin: 14px auto 0 auto;
      padding: 7px 9px;
      border: 1px solid #C4C4C4;
      box-sizing: border-box;
      border-radius: 30px; }
  section.three h2 {
    font-size: 28px; }
  footer {
    display: block; }
    footer .footerContainer {
      width: 80%;
      margin: 1.5rem auto;
      text-align: center;
      justify-content: center;
      color: #FFFFFF; }
      footer .footerContainer .footerTop {
        display: block;
        text-align: center; }
        footer .footerContainer .footerTop a {
          color: #FFFFFF; }
        footer .footerContainer .footerTop img {
          margin-top: 2.5rem;
          margin-right: 1rem; }
        footer .footerContainer .footerTop .text {
          margin-top: 2.5rem;
          text-align: center; }
      footer .footerContainer .supportOptions {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 20px;
        margin: 1rem auto; }
        footer .footerContainer .supportOptions hr {
          width: 90%; }
  body#Услуги .headerImage {
    background-image: linear-gradient(rgba(44, 94, 142, 0.01), rgba(44, 94, 142, 0.3)), url("../img/Услуги_header_background.png");
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; }
    body#Услуги .headerImage .headerImageInner {
      display: block;
      float: right;
      justify-content: center;
      align-items: center;
      text-align: right;
      padding: 0 auto; }
    body#Услуги .headerImage h1 {
      margin: 0 14px 0 0;
      padding: 5rem 0 0 0;
      background-image: none;
      -webkit-background-clip: none;
      -webkit-text-fill-color: #000000;
      color: #000000;
      text-align: right; }
      body#Услуги .headerImage h1 b {
        font-size: 42px; }
    body#Услуги .headerImage button.btn {
      float: right;
      border: none;
      display: block;
      padding: 24px 34px;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      text-align: center;
      letter-spacing: 0.1em;
      color: #ffffff;
      text-decoration: none;
      background: #2C5E8E;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      margin: 0 18px 0 0;
      margin-top: .5rem;
      justify-self: center; }
  body#Услуги main section.one h2 {
    font-size: 28px; }
  body#Услуги section.two h2 {
    font-size: 28px; }
  body#Услуги section.three h2 {
    font-size: 28px; } }

@media screen and (max-width: 400px) {
  .headerImage {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .headerImage h1 {
      padding-top: calc(100vh - 60vh);
      margin: 0 0 2rem 0;
      text-align: center;
      float: none;
      font-size: 48px; }
    .headerImage a#svgButton {
      position: relative;
      padding: 23px 35px;
      z-index: 0;
      float: none;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 26px;
      text-align: center;
      letter-spacing: 0.1em;
      color: #AEE1F7;
      text-decoration: none;
      margin: 0 0 0 0;
      border-radius: 35px; }
      .headerImage a#svgButton .icon {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1; }
        .headerImage a#svgButton .icon path {
          transition: opacity 0.4s ease; }
          .headerImage a#svgButton .icon path:first-of-type {
            fill: transparent;
            stroke: url(#linearGradient-1);
            stroke-width: 3;
            opacity: 1; }
          .headerImage a#svgButton .icon path.icon--plain {
            opacity: 0;
            stroke: none;
            stroke-width: 0; }
      .headerImage a#svgButton:hover path:first-of-type {
        opacity: 0; }
      .headerImage a#svgButton:hover path.icon--plain {
        opacity: 1; }
  section.one .card {
    min-width: 360px; }
    section.one .card p {
      padding: 0.5rem 0;
      margin: 0 10px 0 26px; }
  section.one h2 {
    font-size: 28px; }
  section.two h2 {
    font-size: 28px; }
  footer {
    text-align: center; } }

@media screen and (max-width: 400px) and (max-width: 320px) {
  .headerImage h1 {
    font-size: 32px; }
  main h2 {
    font-size: 28px; }
  body#Услуги .headerImage h1 {
    font-size: 32px; }
  body#Услуги main {
    width: 100%; }
    body#Услуги main h2 {
      font-size: 28px; } }

@media screen and (max-width: 400px) and (max-width: 720px) and (orientation: landscape) {
  .headerImage h1 {
    padding-top: calc(100vh - 90vh);
    margin: 0 20px 0 0;
    font-size: 32px;
    float: right;
    text-align: left; }
  .headerImage a#svgButton {
    margin: 10% 0 0 20px;
    position: relative;
    z-index: 0;
    float: left; }
  main h2 {
    font-size: 30px; }
  body#Услуги .headerImage h1 {
    padding-top: calc(100vh - 90vh);
    margin: 0 20px 0 0;
    font-size: 32px;
    float: right;
    text-align: left; }
    body#Услуги .headerImage h1 b {
      font-size: 38px; }
  body#Услуги .headerImage a#svgButton {
    margin: 10% 0 0 20px;
    position: relative;
    z-index: 0;
    float: left; }
  body#Услуги main h2 {
    font-size: 30px; } }

@media screen and (max-width: 400px) and (max-width: 830px) and (orientation: landscape) {
  .headerImage h1 {
    padding-top: calc(100vh - 80vh);
    margin: 0 50px 0 0;
    font-size: 38px;
    float: right;
    text-align: left; }
  .headerImage a#svgButton {
    margin: 18% 0 0 0;
    position: relative;
    z-index: 0;
    float: left; }
  main h2 {
    font-size: 30px; }
  body#Услуги .headerImage h1 {
    padding-top: calc(100vh - 80vh);
    margin: 0 50px 0 0;
    font-size: 38px;
    float: right;
    text-align: left; }
    body#Услуги .headerImage h1 b {
      font-size: 48px; }
  body#Услуги .headerImage a#svgButton {
    margin: 18% 0 0 60px;
    position: relative;
    z-index: 0;
    float: left; }
  body#Услуги main h2 {
    font-size: 30px; } }

@media screen and (max-width: 400px) and (max-width: 720px) and (orientation: landscape) {
  .headerImage h1 {
    padding-top: calc(100vh - 90vh);
    margin: 0 10px 0 0;
    font-size: 30px;
    float: right;
    text-align: left; }
  .headerImage a#svgButton {
    margin: 15% 0 0 20px;
    position: relative;
    z-index: 0;
    float: left;
    font-size: 16px; }
  main h2 {
    font-size: 30px; }
  body#Услуги .headerImage h1 {
    padding-top: calc(100vh - 90vh);
    margin: 0 10px 0 0;
    font-size: 30px;
    float: right;
    text-align: left; }
    body#Услуги .headerImage h1 b {
      font-size: 35.5px; }
  body#Услуги .headerImage a#svgButton {
    margin: 15% 0 0 20px;
    position: relative;
    z-index: 0;
    float: left;
    font-size: 16px; }
  body#Услуги main h2 {
    font-size: 30px; } }
