* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  background-color: #F5F5F5;
  color: #000000;
  width: 95%;
  height: 100%;
  padding: 1rem auto; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 58px;
  line-height: 48.83px; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 42px;
  line-height: 39.06px; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 31.25px; }

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 10px; }

a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 8.19px;
  color: #333333;
  text-decoration: none; }

p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding: 1rem 0; }

button.outline {
  border-image: linear-gradient(to bottom, #BC8CCD 0%, #72A5BA 100%);
  border-image-slice: 1;
  border-width: 3px;
  background: transparent;
  box-sizing: border-box;
  display: block;
  font-size: 1.125rem;
  height: 80px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 2;
  border-radius: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-width: 4px;
  padding: 0 2rem; }

header {
  position: relative;
  display: flex;
  padding: 10px;
  justify-items: center;
  float: left;
  background-color: #FFFFFF;
  width: 100vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden; }
  header div.logo {
    left: 0%;
    margin: 1rem 0; }
  header .headerCentered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    header .headerCentered ul {
      text-align: center;
      justify-self: center;
      justify-content: center; }
      header .headerCentered ul li {
        display: inline;
        list-style: none;
        margin-right: 1rem; }
  header .login {
    font-size: 18px;
    float: right;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%); }

.headerImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/header_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .headerImage button {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px; }
  .headerImage .border-gradient {
    border-image: linear-gradient(to bottom, #BC8CCD 0%, #72A5BA 100%);
    border-image-slice: 1;
    border-width: 3px; }
  .headerImage .btn {
    display: block;
    padding: 1em;
    margin-top: 90px;
    margin-right: 8em;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    float: left;
    background: transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px; }
  .headerImage h1 {
    background-image: linear-gradient(to bottom, #BC8CCD 0%, #72A5BA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: left;
    float: right;
    line-height: 60px; }

main {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin: 1.5rem auto;
  justify-content: center;
  align-items: center; }

.threeCards {
  display: flex;
  width: 100%;
  margin-top: 1.5rem;
  text-align: center;
  justify-content: center; }
  .threeCards .card {
    background-color: #ffffff;
    margin: 1.5rem;
    width: auto;
    max-width: 400px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    color: #333333;
    text-align: center; }
    .threeCards .card h3 {
      margin: 2.5rem 1.5rem;
      text-align: left; }
    .threeCards .card hr {
      width: 80%;
      margin: 1rem auto;
      text-align: left; }
    .threeCards .card p {
      margin: 16px;
      text-align: left; }
    .threeCards .card button {
      margin: 1rem auto; }

hr {
  margin: 1em auto;
  border: 2px solid #E5E5E5; }

h2 {
  margin: 1rem auto; }

.socials {
  display: flex;
  text-align: center;
  margin: auto;
  justify-content: center; }
  .socials .socialMedia {
    margin: 1.5rem; }

.cards {
  display: flex;
  width: 100%;
  margin: 1.5rem auto;
  text-align: center;
  justify-content: center; }
  .cards .cardWithImages {
    background-color: #ffffff;
    margin: 1rem;
    width: auto;
    max-width: 400px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    color: #333333;
    text-align: center; }
    .cards .cardWithImages img {
      margin: 3rem 0; }
    .cards .cardWithImages h3 {
      margin: 0 1.5rem; }
    .cards .cardWithImages p {
      margin: 16px; }
    .cards .cardWithImages p.price {
      font-size: 30px; }
    .cards .cardWithImages button {
      margin: 1rem auto; }

footer {
  background: -webkit-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: -o-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: -ms-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: -moz-linear-gradient(bottom, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  background: linear-gradient(to top, #72a5ba 0%, #9f96c6 60%, #bc8ccd 100%);
  width: 100vw;
  height: 70vh; }
  footer .footerContainer {
    width: 80%;
    margin: 1.5rem auto;
    text-align: center;
    justify-content: center;
    color: #FFFFFF; }
    footer .footerContainer .footerTop {
      display: flex; }
      footer .footerContainer .footerTop img {
        margin-top: 2.5rem;
        margin-right: 1rem; }
      footer .footerContainer .footerTop .text {
        margin-top: 2.5rem;
        text-align: left; }
    footer .footerContainer .supportOptions {
      width: 80%;
      margin-top: 2rem;
      margin-right: 2.5rem;
      float: right;
      display: flex;
      text-align: center;
      color: #FFFFFF; }
      footer .footerContainer .supportOptions .supportOptionsItem {
        width: 10rem;
        text-align: center; }
        footer .footerContainer .supportOptions .supportOptionsItem h5 {
          margin: 1rem 0 0 0; }
