@import url('https://rsms.me/inter/inter.css');
@import url('typeface-inter');
@import url('Inter-UI');

$backgroudColor: #F5F5F5;
$primary-color: #444;
$secondary-color: #333;
$mainFont: 'Inter UI',
'Roboto',
sans-serif;
$fontColor: rgb(255, 255, 255);
$lightColor: #ffffff;
$darkColor: #333;

@mixin easeOut {
    transition: all 500ms ease-in-out;
}

// Functions
@function set-text-color($backgroudColor) {
    @if(lightness($backgroudColor) > 40) {
        @return #000000;
    }

    @else {
        @return #ffffff;
    }
}


//Media Query Mixins
@mixin mediaXSm {
    @media screen and (max-width: 400px) {
        @content;
    }
}


@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}