@include mediaXl {
    main {
        max-width: 1300px;
    }

    .footerContainer {
        max-width: 1100px;
    }
}

@include mediaLg {
    .headerImage {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            padding-top: 16rem;
            margin: 0 0 2.5rem 0;
            text-align: center;
            float: none;
            font-size: 58px;
        }

        a#svgButton {
            position: relative;
            padding: 23px 35px;
            z-index: 0;
            float: none;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 26px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #AEE1F7;
            text-decoration: none;
            margin: 0 0 0 0;
            border-radius: 35px;

            .icon {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
                z-index: -1;

                path {
                    transition: opacity 0.4s ease;

                    &:first-of-type {
                        fill: transparent;
                        stroke: url(#linearGradient-1);
                        stroke-width: 3;
                        opacity: 1;
                    }

                    &.icon--plain {
                        opacity: 0;
                        stroke: none;
                        stroke-width: 0;
                    }
                }
            }

            &:hover {
                path {
                    &:first-of-type {
                        opacity: 0;
                    }

                    &.icon--plain {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .footerContainer {
        .footerTop {
            .text {
                text-align: center;
            }
        }
    }

    body#Услуги {
        .headerImage {
            background-image: linear-gradient(rgba(44, 94, 142, 0.01), rgba(44, 94, 142, 0.3)), url("../img/Услуги_header_background.png");
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;

            .headerImageInner {
                display: block;
                float: right;
                justify-content: center;
                align-items: center;
                text-align: right;
                padding: 0;
            }

            h1 {
                margin: 0 18px 0 0;
                padding: 5rem 0 0 0;
                background-image: none;
                -webkit-background-clip: none;
                -webkit-text-fill-color: #000000;
                color: #000000;
                text-align: right; // font-size: 42px;

                b {
                    font-size: 68px;
                }
            }

            button.btn {
                float: right;
                border: none;
                display: block;
                padding: 24px 34px;
                font-style: normal;
                font-weight: normal;
                line-height: normal; // font-size: 22px;
                text-align: center;
                letter-spacing: 0.1em;
                color: #ffffff;
                text-decoration: none;
                background: #2C5E8E;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                margin: 0 18px 0 0;
                margin-top: .5rem;
                justify-self: center;
            }
        }

        main {
            section.one {
                h2 {
                    font-size: 28px;
                }
            }
        }

        section.two {
            h2 {
                font-size: 28px;
            }
        }

        section.three {
            h2 {
                font-size: 28px;
            }
        }
    }
}

@include mediaMd {
    .menu-btn {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        cursor: pointer;
        @include easeOut;

        .btn-line {
            width: 28px;
            height: 3px;
            margin: 0 0 5px 0;
            background: black;
            @include easeOut;
        }

        // rotate into x with menu lines
        &.close {
            .btn-line {

                //Line 1 -rotate
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                //Line 2 -Hide
                &:nth-child(2) {
                    opacity: 0;
                }

                //Line 3 -rotate
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -6px);
                }
            }
        }
    }

    // Menu Overlay
    .menu {
        width: 100%;
        opacity: 0.9;
        visibility: hidden;

        &.show {
            visibility: visible;
            position: fixed;
            z-index: 2;
            height: auto;
            margin-top: 10%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &-nav {
            display: block;
            text-align: center;
            align-items: center;
            justify-content: center;
            float: none;
            width: 100%;
            height: auto;
            overflow-x: hidden;
        }

        &-nav {
            margin: 0;
            padding: 0;
            background: darken($primary-color, 5);
            list-style: none;
            transform: translate3d(0, -100%, 0);
            @include easeOut;

            &.show {
                transform: translate3d(0, 0, 0);
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
            }
        }

        .nav-item {
            display: block;
            padding: 30px;
            transform: translate3d(600px, 0, 0);
            @include easeOut;

            &.show {
                //slide from right
                transform: translate3d(0, 0, 0);
            }

            &.current>a {
                color: #72A5BA;
            }
        }

        .nav-link {
            display: inline-block;
            position: relative;
            font-size: 32px;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: 300;
            color: white;
            text-decoration: none;
            @include easeOut;

            &:hover {
                color: lightgray;
                transform: scale(1.1);
            }
        }
    }

    .headerImage {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            padding-top: 18rem;
            margin: 0 0 2rem 0;
            text-align: center;
            float: none;
            font-size: 58px;
        }

        a#svgButton {
            position: relative;
            padding: 23px 35px;
            z-index: 0;
            float: none;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 26px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #AEE1F7;
            text-decoration: none;
            margin: 0 0 0 0;
            border-radius: 35px;

            .icon {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
                z-index: -1;

                path {
                    transition: opacity 0.4s ease;

                    &:first-of-type {
                        fill: transparent;
                        stroke: url(#linearGradient-1);
                        stroke-width: 3;
                        opacity: 1;
                    }

                    &.icon--plain {
                        opacity: 0;
                        stroke: none;
                        stroke-width: 0;
                    }
                }
            }

            &:hover {
                path {
                    &:first-of-type {
                        opacity: 0;
                    }

                    &.icon--plain {
                        opacity: 1;
                    }
                }
            }
        }
    }

    main {
        section.one {
            h2 {
                font-size: 28px;
            }

            .threeCards {
                margin: 1.5rem auto;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
                grid-gap: 20px;
                justify-items: center;
                justify-content: center;

                .card {
                    display: block;
                    background-color: #ffffff;
                    margin: 1.5rem auto;
                    min-width: 300px;
                    max-width: 360px;
                    height: 400px;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
                    border-radius: 50px;
                    color: #333333;
                    text-align: center;
                    justify-items: center;
                    justify-content: center;

                    &:nth-child(1) {
                        .cardParag {
                            padding-bottom: 4rem;
                        }
                    }

                    &:nth-child(2) {
                        .cardParag {
                            padding-bottom: 0rem;
                        }
                    }

                    &:nth-child(3) {
                        .cardParag {
                            padding-bottom: 6rem;
                        }
                    }

                    h3 {
                        margin: 20px 0 0 0;
                        text-align: center;
                    }

                    hr {
                        width: 80%;
                        margin: 10px auto 0 auto;
                        text-align: left;
                        border: 2px solid #E5E5E5;
                    }

                    p {
                        margin: 0 2px 0 15px;
                        text-align: left;
                        font-style: normal;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 15px;
                        color: #6D6D6D;
                    }

                    a.cardSvgButton {
                        display: block;
                        color: #557C8C;
                        font-size: 15px;
                        position: relative;
                        margin: 6px auto;
                        padding: 14px 28px;
                        border-radius: 28px;
                        -webkit-border-radius: 28px;
                        -moz-border-radius: 28px;
                        -ms-border-radius: 28px;
                        -o-border-radius: 28px;
                        position: relative;
                        z-index: 0;
                        font-style: normal;
                        font-weight: normal;
                        line-height: normal;
                        text-align: center;
                        text-decoration: none;

                        .icon {
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            height: 100%;
                            width: 100%;
                            z-index: -1;

                            path {
                                transition: opacity 0.4s ease;

                                &:first-of-type {
                                    fill: transparent;
                                    stroke: url(#linearGradient-1);
                                    stroke-width: 3;
                                    opacity: 1;
                                }

                                &.icon--plain {
                                    opacity: 0;
                                    stroke: none;
                                    stroke-width: 0;
                                }
                            }
                        }

                        &:hover {
                            @include easeOut;

                            path {
                                &:first-of-type {
                                    opacity: 0;
                                }

                                &.icon--plain {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        h2 {
            font-size: 28px;
        }
    }

    section.two {
        h2 {
            font-size: 28px;
        }
    }

    .socials {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        grid-gap: 15px;
        text-align: center;
        margin: 65px auto 0 auto;
        justify-content: center;

        .socialMedia {
            margin: 1rem;
        }

        .roundedBorders {
            font-size: 14px;
            margin: 14px auto 0 auto;
            padding: 7px 9px;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 30px;
        }
    }

    section.three {
        align-content: center;
        justify-content: center;
        justify-items: center;

        h2 {
            font-size: 28px;
        }
    }

    footer {
        display: block;

        .footerContainer {
            width: 80%;
            margin: 1.5rem auto;
            text-align: center;
            justify-content: center;
            color: #FFFFFF;

            .footerTop {
                text-align: center;
                display: block;

                a {
                    color: #FFFFFF;
                }

                img {
                    margin-top: 2.5rem;
                    margin-right: 1rem;
                }

                .text {
                    margin-top: 2.5rem;
                    text-align: center;
                }
            }

            .supportOptions {
                display: grid;
                margin: 1rem auto;
                padding: 0;
                text-align: center;
                justify-content: center;

                hr {
                    height: 90%;
                }
            }
        }
    }

    body#Услуги {
        .headerImage {
            background-image: linear-gradient(rgba(44, 94, 142, 0.01), rgba(44, 94, 142, 0.3)), url("../img/Услуги_header_background.png");
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;

            .headerImageInner {
                display: block;
                float: right;
                justify-content: center;
                align-items: center;
                text-align: right;
                padding: 0;
            }

            h1 {
                margin: 0 14px 0 0;
                padding: 5rem 0 0 0;
                background-image: none;
                -webkit-background-clip: none;
                -webkit-text-fill-color: #000000;
                color: #000000;
                text-align: right; // font-size: 42px;

                b {
                    font-size: 42px;
                }
            }

            button.btn {
                float: right;
                border: none;
                display: block;
                padding: 24px 34px;
                font-style: normal;
                font-weight: normal;
                line-height: normal; // font-size: 22px;
                text-align: center;
                letter-spacing: 0.1em;
                color: #ffffff;
                text-decoration: none;
                background: #2C5E8E;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                margin: 0 18px 0 0;
                margin-top: .5rem;
                justify-self: center;
            }
        }

        main {
            section.one {
                h2 {
                    font-size: 28px;
                }
            }
        }

        section.two {
            h2 {
                font-size: 28px;
            }
        }

        section.three {
            h2 {
                font-size: 28px;
            }
        }
    }
}

@include mediaSm {
    .menu-btn {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        cursor: pointer;
        @include easeOut;

        .btn-line {
            width: 28px;
            height: 3px;
            margin: 0 0 5px 0;
            background: black;
            @include easeOut;
        }

        // rotate into x with menu lines
        &.close {
            .btn-line {

                //Line 1 -rotate
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                //Line 2 -Hide
                &:nth-child(2) {
                    opacity: 0;
                }

                //Line 3 -rotate
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -6px);
                }
            }
        }
    }

    // Menu Overlay
    .menu {
        opacity: 0.9;
        visibility: hidden;

        &.show {
            visibility: visible;
            position: fixed;
            z-index: 2;
            height: auto;
            margin-top: 10%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &-nav {
            display: block;
            text-align: center;
            align-items: center;
            justify-content: center;
            float: none;
            width: 100%;
            height: auto;
            overflow-x: hidden;
        }

        &-nav {
            margin: 0;
            padding: 0;
            background: darken($primary-color, 5);
            list-style: none;
            transform: translate3d(0, -100%, 0);
            @include easeOut;

            &.show {
                transform: translate3d(0, 0, 0);
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
            }
        }

        .nav-item {
            display: block;
            font-size: 18px;
            transform: translate3d(600px, 0, 0);
            @include easeOut;

            &.show {
                //slide from right
                transform: translate3d(0, 0, 0);
            }

            &.current>a {
                color: #72A5BA;
            }
        }

        .nav-link {
            display: inline-block;
            position: relative;
            font-size: 16px;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: 300;
            color: white;
            text-decoration: none;
            @include easeOut;

            &:hover {
                color: lightgray;
                transform: scale(1.1);
            }
        }
    }

    .headerImage {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            padding-top: 14rem;
            margin: 0 0 2rem 0;
            text-align: center;
            float: none;
            font-size: 48px;
        }

        a#svgButton {
            position: relative;
            padding: 23px 35px;
            z-index: 0;
            float: none;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 26px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #AEE1F7;
            text-decoration: none;
            margin: 0 0 0 0;
            border-radius: 35px;

            .icon {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
                z-index: -1;

                path {
                    transition: opacity 0.4s ease;

                    &:first-of-type {
                        fill: transparent;
                        stroke: url(#linearGradient-1);
                        stroke-width: 3;
                        opacity: 1;
                    }

                    &.icon--plain {
                        opacity: 0;
                        stroke: none;
                        stroke-width: 0;
                    }
                }
            }

            &:hover {
                path {
                    &:first-of-type {
                        opacity: 0;
                    }

                    &.icon--plain {
                        opacity: 1;
                    }
                }
            }
        }
    }

    main {
        section.one {
            .card {
                min-width: 340px;

                p {
                    margin: 0 10px 0 28px;
                }
            }

            h2 {
                font-size: 28px;
            }
        }
    }

    section.two {
        h2 {
            font-size: 28px;
        }
    }

    .socials {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        grid-gap: 15px;
        text-align: center;
        margin: 65px auto 0 auto;
        justify-content: center;

        .socialMedia {
            margin: 1rem;
        }

        .roundedBorders {
            font-size: 14px;
            margin: 14px auto 0 auto;
            padding: 7px 9px;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 30px;
        }
    }

    section.three {
        h2 {
            font-size: 28px;
        }
    }

    footer {
        display: block;

        .footerContainer {
            width: 80%;
            margin: 1.5rem auto;
            text-align: center;
            justify-content: center;
            color: #FFFFFF;

            .footerTop {
                display: block;
                text-align: center;

                a {
                    color: #FFFFFF;
                }

                img {
                    margin-top: 2.5rem;
                    margin-right: 1rem;
                }

                .text {
                    margin-top: 2.5rem;
                    text-align: center;
                }
            }

            .supportOptions {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                grid-gap: 20px;
                margin: 1rem auto;

                hr {
                    width: 90%;
                }
            }
        }
    }

    body#Услуги {
        .headerImage {
            background-image: linear-gradient(rgba(44, 94, 142, 0.01), rgba(44, 94, 142, 0.3)), url("../img/Услуги_header_background.png");
            display: block;
            justify-content: center;
            align-items: center;
            text-align: center;

            .headerImageInner {
                display: block;
                float: right;
                justify-content: center;
                align-items: center;
                text-align: right;
                padding: 0;
            }

            h1 {
                margin: 0 14px 0 0;
                padding: 5rem 0 0 0;
                background-image: none;
                -webkit-background-clip: none;
                -webkit-text-fill-color: #000000;
                color: #000000;
                text-align: right; // font-size: 42px;

                b {
                    font-size: 42px;
                }
            }

            button.btn {
                float: right;
                border: none;
                display: block;
                padding: 24px 34px;
                font-style: normal;
                font-weight: normal;
                line-height: normal; // font-size: 22px;
                text-align: center;
                letter-spacing: 0.1em;
                color: #ffffff;
                text-decoration: none;
                background: #2C5E8E;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                margin: 0 18px 0 0;
                margin-top: .5rem;
                justify-self: center;
            }
        }

        main {
            section.one {
                h2 {
                    font-size: 28px;
                }
            }
        }

        section.two {
            h2 {
                font-size: 28px;
            }
        }

        section.three {
            h2 {
                font-size: 28px;
            }
        }
    }
}

@include mediaXSm {
    .menu-btn {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        cursor: pointer;
        @include easeOut;

        .btn-line {
            width: 28px;
            height: 3px;
            margin: 0 0 5px 0;
            background: black;
            @include easeOut;
        }

        // rotate into x with menu lines
        &.close {
            .btn-line {

                //Line 1 -rotate
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                //Line 2 -Hide
                &:nth-child(2) {
                    opacity: 0;
                }

                //Line 3 -rotate
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -6px);
                }
            }
        }
    }

    // Menu Overlay
    .menu {
        opacity: 0.9;
        visibility: hidden;

        &.show {
            visibility: visible;
            position: fixed;
            z-index: 2;
            height: auto;
            margin-top: 10%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &-nav {
            display: block;
            text-align: center;
            align-items: center;
            justify-content: center;
            float: none;
            width: 100%;
            height: auto;
            overflow-x: hidden;
        }

        &-nav {
            margin: 0;
            padding: 0;
            background: darken($primary-color, 5);
            list-style: none;
            transform: translate3d(0, -100%, 0);
            @include easeOut;

            &.show {
                transform: translate3d(0, 0, 0);
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
            }
        }

        .nav-item {
            display: block;
            padding: 20px;
            font-size: 22px;
            transform: translate3d(600px, 0, 0);
            @include easeOut;

            &.show {
                //slide from right
                transform: translate3d(0, 0, 0);
            }

            &.current>a {
                color: #72A5BA;
            }
        }

        .nav-link {
            display: inline-block;
            position: relative;
            font-size: 16px;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: 300;
            color: white;
            text-decoration: none;
            @include easeOut;

            &:hover {
                color: lightgray;
                transform: scale(1.1);
            }
        }
    }

    .headerImage {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            padding-top: calc(100vh - 60vh);
            margin: 0 0 2rem 0;
            text-align: center;
            float: none;
            font-size: 48px;
        }

        a#svgButton {
            position: relative;
            padding: 23px 35px;
            z-index: 0;
            float: none;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 26px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #AEE1F7;
            text-decoration: none;
            margin: 0 0 0 0;
            border-radius: 35px;

            .icon {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
                z-index: -1;

                path {
                    transition: opacity 0.4s ease;

                    &:first-of-type {
                        fill: transparent;
                        stroke: url(#linearGradient-1);
                        stroke-width: 3;
                        opacity: 1;
                    }

                    &.icon--plain {
                        opacity: 0;
                        stroke: none;
                        stroke-width: 0;
                    }
                }
            }

            &:hover {
                path {
                    &:first-of-type {
                        opacity: 0;
                    }

                    &.icon--plain {
                        opacity: 1;
                    }
                }
            }
        }
    }

    section.one {
        .card {
            min-width: 300px;

            p {
                padding: 0.5rem 0;
                margin: 0 10px 0 20px;
            }
        }

        h2 {
            font-size: 28px;
        }
    }

    section.two {
        h2 {
            font-size: 28px;
        }
    }

    footer {
        text-align: center;
    }

    body#Услуги {}
}

@include mediaXXSm {
    .menu-btn {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        cursor: pointer;
        @include easeOut;

        .btn-line {
            width: 28px;
            height: 3px;
            margin: 0 0 5px 0;
            background: black;
            @include easeOut;
        }

        // rotate into x with menu lines
        &.close {
            .btn-line {

                //Line 1 -rotate
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                //Line 2 -Hide
                &:nth-child(2) {
                    opacity: 0;
                }

                //Line 3 -rotate
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -6px);
                }
            }
        }
    }

    // Menu Overlay
    .menu {
        opacity: 0.9;
        visibility: hidden;

        &.show {
            visibility: visible;
            position: fixed;
            z-index: 2;
            height: auto;
            margin-top: calc(100vh - 90vh);
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &-nav {
            display: block;
            text-align: center;
            align-items: center;
            justify-content: center;
            float: none;
            width: 100%;
            height: auto;
            overflow-x: hidden;
        }

        &-nav {
            margin: 0;
            padding: 0;
            background: darken($primary-color, 5);
            list-style: none;
            transform: translate3d(0, -100%, 0);
            @include easeOut;

            &.show {
                transform: translate3d(0, 0, 0);
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
            }
        }

        .nav-item {
            display: block;
            padding: 15px;
            transform: translate3d(600px, 0, 0);
            @include easeOut;

            &.show {
                //slide from right
                transform: translate3d(0, 0, 0);
            }

            &.current>a {
                color: #72A5BA;
            }
        }

        .nav-link {
            display: inline-block;
            position: relative;
            font-size: 16px;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: 300;
            color: white;
            text-decoration: none;
            @include easeOut;

            &:hover {
                color: lightgray;
                transform: scale(1.1);
            }
        }
    }

    .headerImage {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            padding-top: calc(100vh - 60vh);
            margin: 0 0 2rem 0;
            text-align: center;
            float: none;
            font-size: 48px;
        }

        a#svgButton {
            position: relative;
            padding: 23px 35px;
            z-index: 0;
            float: none;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 26px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #AEE1F7;
            text-decoration: none;
            margin: 0 0 0 0;
            border-radius: 35px;

            .icon {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
                z-index: -1;

                path {
                    transition: opacity 0.4s ease;

                    &:first-of-type {
                        fill: transparent;
                        stroke: url(#linearGradient-1);
                        stroke-width: 3;
                        opacity: 1;
                    }

                    &.icon--plain {
                        opacity: 0;
                        stroke: none;
                        stroke-width: 0;
                    }
                }
            }

            &:hover {
                path {
                    &:first-of-type {
                        opacity: 0;
                    }

                    &.icon--plain {
                        opacity: 1;
                    }
                }
            }
        }
    }

    section.one {
        h2 {
            font-size: 28px;
        }

        .threeCards {
            margin: 1.5rem auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            grid-gap: 20px;
            justify-content: center;

            .card {
                display: block;
                background-color: #ffffff;
                margin: 1.5rem auto;
                min-width: 290px;
                max-width: 300px !important;
                height: 400px;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
                border-radius: 50px;
                color: #333333;
                text-align: center;

                &:nth-child(1) {
                    .cardParag {
                        padding-bottom: 4rem;
                    }
                }

                &:nth-child(2) {
                    .cardParag {
                        padding-bottom: 0rem;
                    }
                }

                &:nth-child(3) {
                    .cardParag {
                        padding-bottom: 7rem;
                    }
                }

                h3 {
                    margin: 10px 0 0 0;
                    text-align: center;
                }

                hr {
                    width: 80%;
                    margin: 10px auto 0 auto;
                    text-align: left;
                    border: 2px solid #E5E5E5;
                }

                p {
                    margin: 0 15px;
                    text-align: left;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 14px;
                    color: #6D6D6D;
                }

                a.cardSvgButton {
                    display: block;
                    color: #557C8C;
                    font-size: 15px;
                    position: relative;
                    margin: 10px auto;
                    padding: 14px 28px;
                    border-radius: 28px;
                    -webkit-border-radius: 28px;
                    -moz-border-radius: 28px;
                    -ms-border-radius: 28px;
                    -o-border-radius: 28px;
                    position: relative;
                    z-index: 0;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    text-align: center;
                    text-decoration: none;

                    .icon {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 100%;
                        width: 100%;
                        z-index: -1;

                        path {
                            transition: opacity 0.4s ease;

                            &:first-of-type {
                                fill: transparent;
                                stroke: url(#linearGradient-1);
                                stroke-width: 3;
                                opacity: 1;
                            }

                            &.icon--plain {
                                opacity: 0;
                                stroke: none;
                                stroke-width: 0;
                            }
                        }
                    }

                    &:hover {
                        @include easeOut;

                        path {
                            &:first-of-type {
                                opacity: 0;
                            }

                            &.icon--plain {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    section.two {
        h2 {
            font-size: 28px;
        }
    }

    footer {
        text-align: center;
    }

    .headerImage {
        h1 {
            font-size: 32px;
        }
    }

    main {
        h2 {
            font-size: 28px;
        }
    }

    body#Услуги {
        .headerImage {
            h1 {
                font-size: 32px;
            }
        }

        main {
            width: 100%;

            h2 {
                font-size: 28px;
            }
        }
    }
}

@include mediaLandscape {
    .menu-btn {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        cursor: pointer;
        @include easeOut;

        .btn-line {
            width: 28px;
            height: 3px;
            margin: 0 0 5px 0;
            background: black;
            @include easeOut;
        }

        // rotate into x with menu lines
        &.close {
            .btn-line {

                //Line 1 -rotate
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                //Line 2 -Hide
                &:nth-child(2) {
                    opacity: 0;
                }

                //Line 3 -rotate
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -6px);
                }
            }
        }
    }

    // Menu Overlay
    .menu {
        width: 100%;
        opacity: 0.9;
        visibility: hidden;

        &.show {
            visibility: visible;
            position: fixed;
            z-index: 2;
            height: auto;
            margin-top: 10%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &-nav {
            display: block;
            text-align: center;
            align-items: center;
            justify-content: center;
            float: none;
            width: 100%;
            height: auto;
            overflow-x: hidden;
        }

        &-nav {
            margin: 0;
            padding: 0;
            background: darken($primary-color, 5);
            list-style: none;
            transform: translate3d(0, -100%, 0);
            @include easeOut;

            &.show {
                transform: translate3d(0, 0, 0);
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
            }
        }

        .nav-item {
            display: inline-block;
            padding: 20px;
            font-size: 32px;
            transform: translate3d(600px, 0, 0);
            @include easeOut;

            &.show {
                //slide from right
                transform: translate3d(0, 0, 0);
            }

            &.current>a {
                color: #72A5BA;
            }
        }

        .nav-link {
            display: inline-block;
            position: relative;
            font-size: 16px;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: 300;
            color: white;
            text-decoration: none;
            @include easeOut;

            &:hover {
                color: lightgray;
                transform: scale(1.1);
            }
        }
    }

    .headerImage {
        h1 {
            padding-top: calc(100vh - 90vh);
            margin: 0 20px 0 0;
            font-size: 32px;
            float: right;
            text-align: left;
        }

        a#svgButton {
            margin: 10% 0 0 20px;
            position: relative;
            z-index: 0;
            float: left;
        }
    }

    main {
        h2 {
            font-size: 30px;
        }
    }

    body#Услуги {
        .headerImage {
            h1 {
                padding-top: calc(100vh - 80vh);
                margin: 0 50px 0 0;
                font-size: 38px;
                float: right;
                text-align: left;

                b {
                    font-size: 40px;
                }
            }

            a#svgButton {
                margin: 18% 0 0 60px;
                position: relative;
                z-index: 0;
            }
        }

        main {
            h2 {
                font-size: 30px;
            }
        }
    }
}

@include mediaXlLandscape {
    .menu-btn {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        cursor: pointer;
        @include easeOut;

        .btn-line {
            width: 28px;
            height: 3px;
            margin: 0 0 5px 0;
            background: black;
            @include easeOut;
        }

        // rotate into x with menu lines
        &.close {
            .btn-line {

                //Line 1 -rotate
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                //Line 2 -Hide
                &:nth-child(2) {
                    opacity: 0;
                }

                //Line 3 -rotate
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -6px);
                }
            }
        }
    }

    // Menu Overlay
    .menu {
        width: 100%;
        opacity: 0.9;
        visibility: hidden;

        &.show {
            visibility: visible;
            position: fixed;
            z-index: 2;
            height: auto;
            margin-top: 10%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &-nav {
            display: block;
            text-align: center;
            align-items: center;
            justify-content: center;
            float: none;
            width: 100%;
            height: auto;
            overflow-x: hidden;
        }

        &-nav {
            margin: 0;
            padding: 0;
            background: darken($primary-color, 5);
            list-style: none;
            transform: translate3d(0, -100%, 0);
            @include easeOut;

            &.show {
                transform: translate3d(0, 0, 0);
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
            }
        }

        .nav-item {
            display: inline-block;
            padding: 20px;
            font-size: 32px;
            transform: translate3d(600px, 0, 0);
            @include easeOut;

            &.show {
                //slide from right
                transform: translate3d(0, 0, 0);
            }

            &.current>a {
                color: #72A5BA;
            }
        }

        .nav-link {
            display: inline-block;
            position: relative;
            font-size: 16px;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: 300;
            color: white;
            text-decoration: none;
            @include easeOut;

            &:hover {
                color: lightgray;
                transform: scale(1.1);
            }
        }
    }

    .headerImage {
        h1 {
            padding-top: calc(100vh - 80vh);
            margin: 0 50px 0 0;
            font-size: 38px;
            float: right;
            text-align: left;
        }

        a#svgButton {
            margin: 18% 0 0 0;
            position: relative;
            z-index: 0;
            float: left;
        }
    }

    main {
        h2 {
            font-size: 30px;
        }
    }

    body#Услуги {
        .headerImage {
            h1 {
                padding-top: calc(100vh - 80vh);
                margin: 0 50px 0 0;
                font-size: 38px;
                float: right;
                text-align: left;

                b {
                    font-size: 48px;
                }
            }

            a#svgButton {
                margin: 18% 0 0 60px;
                position: relative;
                z-index: 0;
                float: left;
            }
        }

        main {
            h2 {
                font-size: 30px;
            }
        }
    }
}

@include mediaSmLandscape {
    .menu-btn {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;
        cursor: pointer;
        @include easeOut;

        .btn-line {
            width: 28px;
            height: 3px;
            margin: 0 0 5px 0;
            background: black;
            @include easeOut;
        }

        // rotate into x with menu lines
        &.close {
            .btn-line {

                //Line 1 -rotate
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 5px);
                }

                //Line 2 -Hide
                &:nth-child(2) {
                    opacity: 0;
                }

                //Line 3 -rotate
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(7px, -6px);
                }
            }
        }
    }

    // Menu Overlay
    .menu {
        width: 100%;
        opacity: 0.9;
        visibility: hidden;

        &.show {
            visibility: visible;
            position: fixed;
            z-index: 2;
            height: auto;
            margin-top: 10%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &-nav {
            display: block;
            text-align: center;
            align-items: center;
            justify-content: center;
            float: none;
            width: 100%;
            height: auto;
            overflow-x: hidden;
        }

        &-nav {
            margin: 0;
            padding: 0;
            background: darken($primary-color, 5);
            list-style: none;
            transform: translate3d(0, -100%, 0);
            @include easeOut;

            &.show {
                transform: translate3d(0, 0, 0);
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -ms-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0);
            }
        }

        .nav-item {
            display: inline-block;
            padding: 20px;
            font-size: 32px;
            transform: translate3d(600px, 0, 0);
            @include easeOut;

            &.show {
                //slide from right
                transform: translate3d(0, 0, 0);
            }

            &.current>a {
                color: #72A5BA;
            }
        }

        .nav-link {
            display: inline-block;
            position: relative;
            font-size: 16px;
            text-transform: uppercase;
            padding: 1rem 0;
            font-weight: 300;
            color: white;
            text-decoration: none;
            @include easeOut;

            &:hover {
                color: lightgray;
                transform: scale(1.1);
            }
        }
    }

    .headerImage {
        h1 {
            padding-top: calc(100vh - 90vh);
            margin: 0 10px 0 0;
            font-size: 30px;
            float: right;
            text-align: left;
        }

        a#svgButton {
            margin: 15% 0 0 20px;
            position: relative;
            z-index: 0;
            float: left;
            font-size: 16px;
        }
    }

    main {
        h2 {
            font-size: 30px;
        }
    }

    body#Услуги {
        .headerImage {
            h1 {
                padding-top: calc(100vh - 90vh);
                margin: 0 10px 0 0;
                font-size: 30px;
                float: right;
                text-align: left;

                b {
                    font-size: 35.5px;
                }
            }

            a#svgButton {
                margin: 15% 0 0 20px;
                position: relative;
                z-index: 0;
                float: left;
                font-size: 16px;
            }
        }

        main {
            h2 {
                font-size: 30px;
            }
        }
    }
}