@import "config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: $backgroudColor;
    color: set-text-color($backgroudColor);
    width: 95%;
    height: 100%;
    padding: 1rem auto;

}

h1 {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 72px;
}

h2 {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 42px;

}

h3 {
    font-family: $mainFont;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

h4 {
    font-family: $mainFont;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

h5 {
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

h6 {
    font-family: $mainFont;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

a {
    font-family: $mainFont;
    font-size: 16px;
    line-height: 8.19px;
    color: #333333;
    text-decoration: none;
}

p {
    font-size: 18px;
    font-family: $mainFont;
    padding: 0.5rem 0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: $backgroudColor;
}

::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
    background-color: $backgroudColor;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #AEE1F7;
}

header {
    position: relative;
    display: flex;
    padding: 10px;
    justify-items: center;
    float: left;
    background: #FFFFFF;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    width: 100vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;


    div.logo {
        left: 0%;
        margin: 1rem 0;
        margin-left: 2.5%;
    }

    .headerCentered {
        float: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 16px;


        ul {
            text-align: center;
            justify-self: center;
            justify-content: center;


            li {
                display: inline;
                list-style: none;
                margin-right: 1rem;
            }
        }
    }

    .login {
        font-size: 18px;
        float: right;
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(-50%, -50%);
        margin-right: 2.5%;
    }
}

.headerImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../img/header_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    button {
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        outline: none;
    }

    .border-gradient {
        border-image: linear-gradient(to bottom, #BC8CCD 0%, #72A5BA 100%);
        border-image-slice: 1;
        border-width: 3px;
    }

    .btn {
        display: block;
        padding: 34px 68px;
        margin-top: 50%;
        margin-bottom: 50%;
        margin-right: 8em;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 36px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #AEE1F7;
        text-decoration: none;
        float: left;
        background: transparent;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }

    h1 {
        background-image: linear-gradient(to bottom, #BC8CCD 0%, #72A5BA 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 40%;
        margin-bottom: 0;
        text-align: left;
        float: right;
    }
}

main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin: 1.5rem auto;
    justify-content: center;
    align-items: center;

    button.outline {
        border-image: linear-gradient(to bottom, #BC8CCD 0%, #72A5BA 100%);
        border-image-slice: 1;
        border-width: 3px;
        background: transparent;
        box-sizing: border-box;
        display: block;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        border-width: 4px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 15px;
        text-align: center;
        color: #557C8C;
    }

    .threeCards {
        display: flex;
        width: 100%;
        margin-top: 1.5rem;
        text-align: center;
        justify-content: center;
        justify-self: center;

        .card {
            display: block;
            background-color: #ffffff;
            margin: 1.5rem;
            width: 360px;
            height: 400px;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
            border-radius: 50px;
            color: #333333;
            text-align: center;

            h3 {
                margin: 20px 0 0 0;
                text-align: center;
            }

            hr {
                width: 80%;
                margin: 10px auto 0 auto;
                text-align: left;
                border: 2px solid #E5E5E5;
            }

            p {
                margin: 0 10px 0 38px;
                text-align: left;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 14px;
                color: #6D6D6D;
            }

            button {
                position: relative;
                margin: 10px auto;
                padding: 14px 28px;
            }
        }

    }

    hr {
        margin: 60px auto 0 auto;
        border: 2px solid #E5E5E5;
    }

    h2 {
        margin: 65px auto 0 auto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 36px;
        text-align: center;
        color: #333333;
    }

    .socials {
        display: flex;
        text-align: center;
        margin: 65px auto 0 auto;
        justify-content: center;

        .socialMedia {
            margin: 1.5rem;

        }

        .roundedBorders {
            margin: 14px auto 0 auto;
            padding: 7px 5px;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 30px;
        }
    }

    .cards {
        display: flex;
        width: 95%;
        margin: 1.5rem 5%;
        text-align: center;
        justify-content: center;
        justify-self: center;

        .cardWithImages {
            background-color: #ffffff;
            margin: 1rem;
            width: 299px;
            height: 400px;
            background: #FFFFFF;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
            border-radius: 50px;
            color: #333333;
            text-align: center;

            img {
                margin: 3rem 0 0 0;
            }

            h3 {
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 16px;
                color: #333333;

            }

            p.price {
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 30px;
                color: #333333;
                padding: 0 auto;
            }

            p.priceExplanation {
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 12px;
                color: #6D6D6D;
                margin: 0 auto;
                padding: 0 auto;
            }

            p {
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 12px;
                text-align: center;
                color: #6D6D6D;
            }

            button {
                position: relative;
                margin: 10px auto;
                padding: 14px 28px;
            }
        }

    }
}

footer {
    background: -webkit-linear-gradient(bottom, rgb(114, 165, 186) 0%, rgb(159, 150, 198) 60%, rgb(188, 140, 205) 100%);
    background: -o-linear-gradient(bottom, rgb(114, 165, 186) 0%, rgb(159, 150, 198) 60%, rgb(188, 140, 205) 100%);
    background: -ms-linear-gradient(bottom, rgb(114, 165, 186) 0%, rgb(159, 150, 198) 60%, rgb(188, 140, 205) 100%);
    background: -moz-linear-gradient(bottom, rgb(114, 165, 186) 0%, rgb(159, 150, 198) 60%, rgb(188, 140, 205) 100%);
    background: linear-gradient(to top, rgb(114, 165, 186) 0%, rgb(159, 150, 198) 60%, rgb(188, 140, 205) 100%);
    width: 100vw;
    height: 75vh;
    margin: 60px 0 0 0;

    .footerContainer {
        width: 80%;
        margin: 1.5rem auto;
        text-align: center;
        justify-content: center;
        color: #FFFFFF;

        .footerTop {
            display: flex;

            img {
                margin-top: 2.5rem;
                margin-right: 1rem;
            }

            .text {
                margin-top: 2.5rem;
                text-align: left;
            }
        }

        .supportOptions {
            width: 80%;
            margin-top: 2rem;
            margin-right: 2.5rem;
            float: right;
            display: flex;
            text-align: center;
            color: #FFFFFF;

            .supportOptionsItem {
                width: 10rem;
                text-align: center;
                padding: 20px;

                h5 {
                    margin: 1rem 0 0 0;
                }
            }

            hr {
                border: 1px solid #FFFFFF;
            }
        }
    }

}


// @import "mobile";